.App {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 7vh 4vh 79vh 7vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  grid-template-areas: 
    'heading'
    'navigation'
    'body'
    'footer';
  background: #fcfffe;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 3px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
