.App {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 2.5em 1.1em 10fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  grid-template-areas: 
    'heading'
    'navigation'
    'body';
  background: #fcfffe;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0
}

.nav {
  grid-area: navigation;
}

.content {
  grid-area: body;
}

.headingContainer {
  grid-area: heading;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
