.App {
  display: grid;
  height: 98vh;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 15fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  grid-template-areas: 
    'heading'
    'navigation'
    'body'
    'footer';
  background: #fcfffe;
  font-family: 'Source Sans Pro', sans-serif;
}


.nav {
  grid-area: navigation;
}

.headingContainer {
  grid-area: heading;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}
