.article {
    display: grid;
    padding: 1px;
    grid-template-rows: auto auto;
    grid-template-columns: 3em auto;
    grid-template-areas: 
        "votes articleHeader"
        "votes body";
}

.articleTitle {
    grid-area: articleTitle;
    max-width: 60vw;
    padding: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.articleBody {
    grid-area: body;
    padding: 4px;
}

.articleVotes {
    grid-area: votes;
}

.articleHeading {
    grid-area: articleHeader;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1em
}

.articleDeleteButton {
    height: 1.5em;
}

