.articleCard {
    display: grid;
    width: 80vw;
    height: 5em;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas:
        'votes articleTitle'
        'votes information';
    max-height: 100%;
    overflow-y: scroll;
}

.articleTitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    grid-area: articleTitle;
    margin: 0;
    vertical-align: middle;
    max-height: 100%;
    color: black;
    font-size:1em
}

.votes {
    grid-area: votes;
    height: 4em;
}
.information {
    grid-area: information;
    display: flex;
    flex-direction: rows;
    justify-content: stretch;
    overflow-x: hidden;
    padding-bottom: 2px;
}
.commentCount {
    padding-right: 10px;
    margin: 0;
}

.author {
    padding-right: 10px;
    margin: 0;
}


