.article {
    display: grid;
    padding: 1px;
    min-height: 5em;
    grid-template-rows: auto auto auto;
    grid-template-columns: 3em 75vw;
    grid-template-areas: 
        "articleAuthor timeSince"
        "votes articleHeader"
        "votes body";
}

.articleAuthor {
    grid-area: articleAuthor;
    font-size: 0.75em;
}

.articleTitle {
    grid-area: articleTitle;
    max-width: 60vw;
    padding: 1px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.articleBody {
    grid-area: body;
    padding: 4px;
}

.articleVotes {
    grid-area: votes;
}

.articleHeading {
    grid-area: articleHeader;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1em
}

.articleDeleteButton {
    grid-area: deleteArticleButton;
    height: 1.5em;
}


