.content {
    grid-area: body;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: auto;
    max-height: 77vh
  }
  
  .card {
    overflow-y: hidden;
    margin-top: 10px;
    padding: 0;
    border-radius: 10px;
    background-color: #f0f6ff;
  }