.content {
    grid-area: body;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-y: auto;
    max-height: 82vh
  }
  
  .card {
    overflow-y: hidden;
    margin-top: 10px;
    padding: 0;
    border-radius: 10px;
    background-color: #f0f6ff;
    border: 1px solid darkcyan;
    box-shadow: 1px 2px #b5b5b3;
  }

  .timeSince {
    grid-area: timeSince;
    text-align: right;
  }

  button {
    border: 2px;
    border-radius: 5px;
    padding: 2px;
    fill: aqua
  }
  
  button:hover {
    background-color: #b5b5b3
  }
  
  select {
      border: 2px;
      border-radius: 5px;
      padding: 2px;
      fill: aqua
  }
  
  select:hover {
    cursor: pointer;
    background-color: #b5b5b3
  }