.headingContainer {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.headings {
    margin: 0;
    text-align: left;
    width: 45vw;
    padding: 0;
    width: auto;
}

#topicSubHeading {
    margin-left: 10px;
    font-style: italic;
    text-align: center;
    width: auto;
}