.headingContainer {
    grid-area: heading;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    background-color: gray;
    color: #c5e3e3;
    justify-content: center;
    padding: 2px;
}

.headings {
    margin: 0;
    text-align: left;
    padding: 0;
    width: auto;
}

#topicSubHeading {
    margin-left: 10px;
    text-align: left;
    font-style: italic;
    text-align: center;
    width: auto;
    color: whitesmoke
}