.nav {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    border: black 1px solid;
    overflow: hidden;
    justify-content: left;
  }
  
.navLink {
  padding-left: 2px;
  padding-right: 5px;
}

.currentUser {
  margin: 0;
}