.nav {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: left;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
.navLink {
  max-height: 100%;
  padding-left: 2px;
  padding-right: 5px;
  margin:1px
}

.currentUser {
  margin: 0;
}

.loggedIn {
  font-size: 0.8em;
}