.commentPostDialogueContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 10px auto auto;
    grid-template-areas: 
    ". bodyLabel ."
    ". bodyInput postButton"
}
.postButton {
    grid-area: postButton;
    width: 10em;
    height: 1.5em;
    vertical-align: bottom;
    margin-left: 3px;
}

.commentBodyLabel {
    grid-area: bodyLabel;
}

.commentBodyInput {
    grid-area: bodyInput;
    min-height: 5em;
    word-wrap: normal;
}
