.PreviousNext {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr; 
    grid-template-areas: 'previous next'
}

.previous {
    padding-left: 15px;
    grid-area: previous;
    text-align: left;
}

.next {
    padding-right: 15px;
    grid-area: next;
    text-align: right;
}