.PreviousNext {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 5em auto 5em; 
    grid-template-areas: 'previous . next'
}

.previous {
    padding: 3px 2em 3px 2em;
    grid-area: previous;
    margin: 0;
}

.next {
    padding: 3px 2em 3px 2em;
    grid-area: next;
    margin: 0;
}

.previous:hover {
    cursor: pointer; 
}

.next:hover {
    cursor: pointer; 
}