.PreviousNext {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: 'previous next'
}

.previous {
    padding-left: 15px;
    grid-area: previous;
    text-align: left;
    margin: 0;
}

.next {
    padding-right: 15px;
    grid-area: next;
    text-align: right;
    margin: 0;
}

.previous:hover {
    cursor: pointer; 
}

.next:hover {
    cursor: pointer; 
}