.textbox {
    width: 1.5em;
    text-align: center;
    -webkit-appearance: none;
    margin-right: 3px;
    margin-top: 2px;
}

.dropdown { 
    text-align: center;
}

.sortQueries {
    display:flex;
    justify-content:left;
    overflow-x: hidden;
    margin-top: 3px;
    margin-left: 3px;
}

.orderButton {
    width: 3em;
    text-align: center;
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;
}

.orderButton:hover {
    cursor: pointer; 
}

label {
    margin-right: 3px;
}

button:hover {
    cursor: pointer; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
