
.userData {
    grid-area: user;
    margin: 0;
    border: black 1px solid;
}

.subHeading {
    border: red 1px solid;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: "navigation user"
}