.subHeading {
    border: grey solid 1px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: auto;
    grid-template-areas: "navigation user";
    grid-column-gap: 2px;
}

.userData {
    grid-area: user;
    margin: 0;
    border: black 1px solid;
}
