.votes {
    grid-area: votes;
    display: grid;
    grid-template-rows: 2em 0.9em 2em;
    grid-template-areas: 
        'upArrow'
        'voteCount'
        'downArrow';
    text-align:center;
    height: 4em;
    margin-left: 5px;
    margin-right: 5px;
}

.votesCount {
    grid-area: voteCount;
    margin: 0;
    line-height: 100%
}

.votesArrow {
    margin: 0;
    padding: 0.4em; 
}

.votesArrow:hover {
    cursor: pointer;
}

.votesUpArrow {
    grid-area: upArrow;
}

.votedUp {
    color: red
}

.votesDownArrow {
    grid-area: downArrow;
    transform: rotate(180deg);
    padding-right:8px;
}

.votedDown {
    color: purple
}