.votes {
    grid-area: votes;
    display: grid;
    grid-template-rows: 2em 1em 2em;
    grid-template-areas: 
        'upArrow'
        'voteCount'
        'downArrow';
    text-align:center;
    height: 4em;
    margin-left: 5px;
    margin-right: 5px;
}
.votesCount {
    grid-area: voteCount;
    align-content: center;
    margin: 0;
}

.votesUpArrow {
    padding: 0.5em ; 
    grid-area: upArrow;
    margin: 0;
}

.votesDownArrow {
    padding: 0.5em; 
    grid-area: downArrow;
    margin: 0;
    transform: rotate(180deg)
}